body{
    font-family: 'Raleway',sans-serif;
    margin: 1% 5% 1%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

img{
    max-width: 100%;
}

::placeholder{
    color: black;
}

/*Header*/
/*Navigation*/
nav{ 
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin:0;
}

nav ul{
    display: flex;
    list-style: none;
}

.nav-link{
    padding: 3rem 1.5rem 0 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;/*Police de la nav à modifie*/
}

.register-link{
    padding: 0 0 0 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;/*Police de la nav à modifie*/
}

.nav-link:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.img{
    max-width: 50%;
}

.register-link:hover{

}

#search h2{
    padding-bottom: 10px;
}

#search p{
    padding-bottom: 20px;
}


/*Section Recherche*/

.search-form{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 5px ;
}

.form-icon-map{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;/*changer la taille de l'icone*/
    align-items: center;
    min-width: 56px;
    min-height: 56px;
    background :#f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.form-search-area input{
    height: 50px;
    min-width: 230px;
    font-weight: bold;
    font-size: 17px;
    padding-left: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;


}

.search-button{
        background-color:#0065FC;
        border:none;
        color: white;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        /*font-size: 12px;/*Police du mot "rechercher"*/
        height: 56px;
        min-width: 145px;
}

/*Filtres*/


.section-button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 20px;
}

.filter-title{
    padding-right: 20px;
    font-size: 100% ;
    font-weight: bold;
}

.filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0 20px 0 0;
    border-radius: 50px;
    border: 2px solid lightgray;
    font-weight: bold;
    margin-right: 10px;
    background-color:white;
    height: 49px;
}

.filter-button:hover{
    background-color: lightgray;
}

.filter-button i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0065FC;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    position:relative;
    right: 5px;

}

.filter-button span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    height: 50px;
    min-width: 50px;
}

/*Info*/

.info{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding-bottom: 20px;
}

.info i{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #0065FC;

}

.info p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

/*Main*/

.accomodation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Herbergement à marseille*/

.accomodation{
    flex-basis: 65%;
    background-color: #f2f2f2;
    border-radius: 20px;

}

.accomodation h2{
    font-size: 20px;
    padding: 10px 20px 10px 10px;
}


.accomodation-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    margin: 0 auto;
    width: 90%;
}

.accomodation-card-item a{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 8px 16px 8px;
    border-radius: 20px;
    box-shadow: 0 0 10px #a1a1a1;
    min-height: 100%;
}


.accomodation-card-item a img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 11.4rem;
    object-fit: cover;
}

.contenu-de-la-carte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90px;
    padding: 10px 0 0 15px;
}

.rating{
    color:#b1b1b1;
}

.fa-star--activate{
    color: #0065FC;
}

.afficher-plus{
    padding: 4rem 2rem 5rem 3.5rem;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background: none;
}

/*Les plus populaires*/
.popular{
    flex-basis: 32%;
    background-color: #f2f2f2;
    border-radius: 20px;
    
}

.popular-title{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 20px 20px 20px 20px;
}

.popular-title h2{
    font-size: 32px;

}

.popular-title i{
    font-size: 32px;
}

.popular-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    margin: 0 auto;
    width: 90%;
}
.popular-card-item{

}

.popular-card-item a{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    box-shadow: 0 0 10px #a1a1a1;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
}

.popular-card-item img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    max-width: 42%;
    height: 180px;
}

.popular-contenu-de-la-carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 10px 25px;
}

.popular-contenue-de-la-carte-description h3{
    padding-bottom:10px ;
}

/*Activités*/

.activities{

}

.activities h2{
    font-size: 16px;
    padding: 30px 0 30px 0;
    margin-top: 24px;
}

.activities-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
}

.activities-card-item a{

}

.activities-card-item img{

}